@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-m {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
  }

  .heading-s {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .body-m {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .body-s {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  nav a.active {
    background-color: var(--light-purple);
  }
}

.heading-dark {
  @apply md:heading-m text-2xl font-bold text-dark-grey;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "Instrument Sans", sans-serif;
  @apply bg-neutral-50;
}
